/* css variables */
:root{
    --cell-size:100px;

    --color: rgb(73, 190, 73); /* hover color */
    --color-set: rgb(29, 29, 143); /* symbol set color*/
    --l: 10px;    /* line-width */
}

body{
    margin: 0;
}
.navbar{
    border-bottom: 2px solid #333;
    width: 100%;
    padding: 15px;
    text-align:center;
    margin-bottom: 0;
}

.winning-message{
    height: 10vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    font-size:5em;
}

.board {
    width: 100vw;
    height: 50vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

.cell{
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}


/* for symbol codes refer to: https://www.toptal.com/designers/htmlarrows/symbols/ */
.mark-x{
    height: 100px;
    width: 100px;
    border-radius: 5px;
    position: relative;
}

.mark-x:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "\2716";
    color:rgb(71, 77, 168);
    font-size: 76px; 
    line-height: 100px;
    text-align: center;
}
.mark-o{
    height: 100px;
    width: 100px;
    border-radius: 5px;
    position: relative;
}

.mark-o:after {
    position: absolute;
    top: -7px;
    bottom: 0;
    left: 0;
    right: 0;
    content: "\26AC";
    color:rgb(44, 116, 57);
    font-size: 170px; 
    line-height: 100px;
    text-align: center;
}

.disabled-box{
    pointer-events:none;
    background-color:lightgray;
}


@keyframes rainbow {
    100%,
    0% {
        color: rgba(255, 0, 0, 0.3);
    }
    8% {
        color: rgba(255, 128, 0, 0.3);
    }
    16% {
        color: rgb(255, 255, 0, 0.3);
    }
    25% {
        color: rgb(127, 255, 0, 0.3);
    }
    33% {
        color: rgb(0, 255, 0, 0.3);
    }
    41% {
        color: rgb(0, 255, 127, 0.3);
    }
    50% {
        color: rgb(0, 255, 255, 0.3);
    }
    58% {
        color: rgb(0, 127, 255, 0.3);
    }
    66% {
        color: rgb(0, 0, 255, 0.3);
    }
    75% {
        color: rgb(127, 0, 255, 0.3);
    }
    83% {
        color: rgb(255, 0, 255, 0.3);
    }
    91% {
        color: rgb(255, 0, 127, 0.3);
    }
}

.winner{
    animation: rainbow 4s infinite linear;
}
